// Step states and layout

.sw-container {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}

.sw-step {
  display: none;
  padding: 20px;

  &.active {
    display: block;
  }

  &.done {
    opacity: 0.5;
  }
}