// Toolbar component - migrated from scss-old/core/_base.scss
@use '../variables';

.sw {
  .toolbar {
    padding: .8rem;
    text-align: right;

    &>.sw-btn {
      display: inline-block;
      text-decoration: none;
      text-align: center;
      text-transform: none;
      vertical-align: middle;
      user-select: none;
      margin-left: .2rem;
      margin-right: .2rem;
      cursor: pointer;
      padding: .375rem .75rem;
      border-radius: .25rem;
      font-weight: 400;
      color: var(--#{variables.$var-prefix}toolbar-btn-color);
      background-color: var(--#{variables.$var-prefix}toolbar-btn-background-color);
      border: 1px solid var(--#{variables.$var-prefix}toolbar-btn-background-color);

      &.disabled,
      &:disabled {
        opacity: .65;
      }
    }
  }
}