/mpp-sw.txt
/examples/smartwizard-bs.html
/examples/Wizard Button.html
/node_modules/
/bower_components/
/vendor/
/public/
composer.lock
package-lock.json

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/nbproject/private/
