/ref.txt
/node_modules/
/bower_components/
/vendor/
/public/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# IDE Files
#-------------------------
/nbproject/
.idea/*
.vscode/*
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/nbproject/private/
