.*.swp
._*
.DS_Store
.git
.hg
.lock-wscript
.svn
.wafpickle-*
CVS
npm-debug.log

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig
*.jql.js

work
build
src
test
spec
pids
logs
results
coverage
lib-cov
html-report
xunit.xml

# IDE Files
#-------------------------
/nbproject/*
.idea/*
.vscode/*
.project
.idea
.settings
.iml

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

/mpp-sw.txt
/examples/smartwizard-bs.html
/examples/Wizard Button.html
/node_modules/
/bower_components/
/vendor/
