.*.swp
._*
.DS_Store
.git
.github
.gitignore
.hg
.lock-wscript
.svn
.wafpickle-*
CVS
npm-debug.log

*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig
*.jql.js

work
build
src
test
examples
spec
pids
logs
results
coverage
lib-cov
html-report
xunit.xml

# IDE Files
#-------------------------
/nbproject/*
.idea/*
.vscode/*
.project
.idea
.settings
.iml

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes

/node_modules/
/bower_components/
/vendor/

/ref.txt
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/composer.json
/gulpfile.js
/karma.conf.js
/.travis.yml
