// Reset default styles for SmartWizard
.#{$prefix} {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  
  // Reset lists
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  // Reset buttons
  button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    
    &:focus {
      outline: none;
    }
  }
}
