// Basic theme
.sw-theme-basic {

  // Navigation style
  &>.nav {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .1) !important;

    .nav-item {
      margin-right: 0 !important;
      border-right: 1px solid var(--sw-border);

      &:last-child {
        border-right: none;
      }
    }

    .nav-link {
      clip-path: none !important;
      border-radius: 0;
      justify-content: flex-start;
      padding: 14px 20px !important;
      background: transparent;
      color: var(--sw-nav-default-text);

      &.completed {
        background: transparent;
        color: var(--sw-nav-completed-bg);

        .badge {
          color: var(--sw-nav-completed-badge-text);
          background: var(--sw-nav-completed-badge-bg);
        }

      }

      &.active {
        background: transparent;
        color: var(--sw-nav-active-bg);

        .badge {
          color: var(--sw-nav-active-badge-bg);
          background: var(--sw-nav-active-badge-text);
        }
      }

    }
  }
}